/*nesting*/

html, body {
                color: white;
                font-weight: bold;
                font-weight: normal;
                padding-bottom: 50px;
            }
#channelsBar {
                list-style: none
}


#messageForm {
                position: fixed; 
                padding-bottom: none;
                bottom: 10px; 
                width: 55%;
}

#messageArea {
                
}


#messageField {
                width: 80%;
}
div, form, a, #channelsBar {
	border-style: ridge;
}

.chat {
				position: fixed; 
				bottom: 10px; 
				width: 80%;
				position: absolute;
				right:10px;
}
#status, #icon {
                width: 200px;
                height: 30px;
                text-align: center;
}

#sideBar {
                width: 15%;
                height: 900px;
                text-align: center;
                padding: 10px;
                background-color: rgb( 147, 141, 145 )

}

li {
	height: 90%;
	color: black;
    background-color: blue;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color:rgb( 199, 246, 230 );
    width: 50%;

}

#channelName {
            color: black;
}