/*nesting*/

html, body {
                color: black;
                font-weight: bold;
                font-weight: normal;
                padding-bottom: 50px;
                background-color: #bcbc9c;
            }
#channelsBar {
                list-style: none
                background-color:#be8b62;
}


#messageForm {
                position: fixed; 
                padding-bottom: none;
                bottom: 10px; 
                width: 55%;
}

#messagesArea, .chat {  background-color: #bcbc9c;
                
}


#messageField {
                width: 80%;
}
div, form, a, #channelsBar {
	border-style: none;
}

.chat {
				position: fixed; 
				bottom: 10px; 
				width: 80%;
                height: 95%;
				position: absolute;
				right:10px;
}
#status, #icon {
                width: 200px;
                height: 30px;
                text-align: center;
                margin: 10px;
                padding: 10px;
                font-weight: bolder;
}

#sideBar {
                width: 15%;
                height: 900px;
                text-align: center;
                padding: 10px;
                background-color: #be8b62;

}

li {
	height: 90%;
	color: black;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color:#5cb7b6;
    width: 50%;
    list-style-type: none;

}

#channelName {
            color: black;
            padding: 10px;
            margin: 10px;
            background-color: none;
            font-weight: bolder;
}

#channelField {
            width: 80%
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: #ba5a57;
}

