/*nesting*/

html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background: url("images/chat.jpg") no-repeat top center;
                background-attachment: fixed;
                background-size: 100% 100%;
}

#channelsBar {
                border: dotted;
                list-style: none;
                background-color: #336b87;
}


#messageForm {
                /* position: fixed; */
                /* padding-bottom: none; */
                /* bottom: 10px;
                width: 55%;
                height: 50px; */
}

#messagesArea {  background-color: #763626;
}

.chat {  background-color: #763626;
         /* height: 80% */
}

#messageField {
                width: 80%;

}

ul#messages {
                /* width: 80%;
                height: 50%;
                margin-bottom: 0px; */
}

li#channelsBar {
                background-color: #763626;
                /* width: 80%;
                height: 50%;
                margin-bottom: 0px; */
}


div, form, a, #channelsBar {
	border-style: none;
}

.chat {
				/* position: fixed;
				bottom: 10px;
				width: 80%;
                height: 100%;
				position: absolute;
				right:10px; */
}
#status, #icon {
                /* width: 200px;
                height: 30px; */
                text-align: center;
                /* margin: 10px;
                padding: 10px; */
                font-weight: bolder;
}

#sideBar {
                /* width: 18%; */
                text-align: center;
                /* padding: 10px; */
                background-color: #336b87;

}

li {
	  /* height: 90%; */
	  color: #90afc5;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color:#2a3132;
    /* width: 90%;
    list-style-type: none; */

}

#channelName {
            color: black;
            /* padding: 10px; */
            /* margin: 10px; */
            background-color: #763626;
            font-weight: bolder;
}

#channelField {
            /* width: 80% */
}

a:link, a:visited {
  color: #90afc5;
}

a:hover {
  color: #ba5a57;
}


 #channelName, #messages {
            margin-left: 10px;
}

#messageForm {
           padding-bottom: 10px;
           margin-left: 10px;
           /* height:100vh */
}
