<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
    <title>Messinger</title>
    </head>
    <body>
        <div id="status">
        </div>

        <form id="channelForm">
        <input type="text" placeholder="New channel" 
         id="channelField" autofocus autocomplete-"off" required>
        <button type="submit">Start</button>'
        </form>
        <div id="channelError"></div>
        <ul id="channelsBar">
        </ul>
    </body>
</html>
