
<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="/static/CSS/normalize.css">
    	<link rel="stylesheet" type="text/css" href="/static/CSS/project2.css">
        <title>ReadBooks</title>
        {% if not session['logged_in'] %}
            <span class='head';><a href="{{ url_for('register') }}">register</a></span>
            <span class='head';><a href="{{ url_for('login') }}">login</a></span>
        {% endif %}
        {% if session['logged_in'] %}
            <span class='head';><a href="{{ url_for('main') }}">search</a></span>
            <span class='head';><a href="{{ url_for('books') }}">list</a></span>
            <span class='head';><a href="{{ url_for('logout') }}">logout</a></span>
        {% endif %}
    </head>
    <body>
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}
    </body>
</html>