<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/CSS/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/CSS/project2.css">
        <!-- <title>Messinger</title> -->
        {% if not session['logged_in'] %}
            <span class='head';><a href="{{ url_for('register') }}">register</a></span>
            <span class='head';><a href="{{ url_for('login') }}">login</a></span>
        {% endif %}
        {% if session['logged_in'] %}
            <span class='head';><a href="{{ url_for('main') }}">search</a></span>
            <span class='head';><a href="{{ url_for('index') }}">list</a></span>
            <span class='head';><a href="{{ url_for('logout') }}">logout</a></span>
        {% endif %}
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
