{% extends "layout.html" %}

{% block heading %}
    Mrack Messinger - Where Connection Happends!
{% endblock %}

{% block body %}
    <p>
        <h2>Please login:</h2>
    </p>

    <form action="{{ url_for('login') }}" method="post">
	  <div>
	    <label for="username">Enter your username: </label>
	    <input type="text" name="username" placeholder="Username" id="username" required>
	  </div>
	  <div>
	    <label for="pass">Enter your password: </label>
	    <input  type="password" name="pass" placeholder="Password" id="pass" required>
	  </div>
	  <div class="form-example">
	    <input type="submit" value="Submit">
	  </div>
	</form>

{% endblock %}